/**/
#wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.wrapp_hold {
    padding: 0 0 560px;
}

footer {
    position: relative;
    background-color: #fff;
    min-height: 560px;
    margin: -560px 0 0;
    overflow: hidden;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

b {
    font-weight: 500;
}

a {
    text-decoration: none !important;
}

/**/
.cb {
	clear: both !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
	display: block !important;
}

.no_border {
	border: none !important;
}

.no_bg {
	background: none !important;
}

.ac {
	text-align: center !important;
}

.ar {
	text-align: right !important;
}

.al {
	text-align: left !important;
}

ul.list_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input,
select,
textarea {
    font-size: 15px;
}

hr {
    border-color: #ececec;
    margin: 10px 0;
}

button {
    outline: none !important;
}

/*container*/
    .container {
    	width: 1200px;
    	padding: 0 27px;
    	margin: 0 auto;
    }

/*Button*/                 
    .button {
        display: inline-block;
        font-size: 10px;
        color: #ff3251;
        text-transform: uppercase;
        border: 1px solid #ff3251;
        background: transparent;
        min-width: 165px;
        padding: 12px 30px;
        border-radius: 30px;
        transition: .2s ease;
    }

    .button:hover,
    .button.active {
        color: #fff;
        background-color: #ff3251;
    }

    .button:focus,
    .button:active {
        text-decoration: none;
    }

/*Header*/
    header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: rgba(255,255,255,0.8);
    }

/*Menu*/
    .header__menu-block {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-between;
    }

    .main-menu {
        list-style: none;
        padding: 0;
        margin: 0 -15px;
    }

        .main-menu li {
            display: inline-block;
            padding: 0 15px;
        }

            .main-menu li a {
                font-size: 14px;
                color: #797979;
                text-decoration: none !important;
                transition: 0.2s ease-in-out;
            }

            .main-menu li a:hover,
            .main-menu li a.active {
                color: #fd3468;
            }

/*Main block*/              
    section {

    }

/**/
    .article-indent {
        padding: 80px 0 50px 0;
    }

/*Main Slide*/
    .article-main {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        height: 100vh;
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-position 0.2s ease;
    }

        .article-main h1 {
            font-size: 48px;
            font-weight: 400;
            line-height: 64px;
            color: #fff;
            max-width: 770px;
            margin: 0 auto;
            text-shadow: -1px 3px 7.36px rgba(0, 0, 0, 0.42);
        }

        .triangle {
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -8px;
            border: 16px solid transparent;
            border-top: 16px solid #fff;
        }

/*Head Block*/
    .head-block {
        text-align: center;
        max-width: 770px;
        margin: 0 auto 70px;
    }

        .head-block h2 {
            font-size: 25px;
            font-weight: 400;
            color: #ff3251;
            margin-top: 0;
            margin-bottom: 15px;
        }

        .head-block__desc {
            font-size: 16px;
            line-height: 30px;
            color: #626261;
            margin: 0;
        }

        .head-block__options {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0 -15px 0;
        }

            .head-block__options .button {
                margin: 30px 15px 0;
            }

/*Advantages*/
    .article-advantages {
        
    }

    .advantages-list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
    }

        .advantages-list__item {
            text-align: center;
            width: 25%;
            padding: 0 15px;
            margin-bottom: 30px;
        }

            .advantages-list__item .item-image {
                display: inline-block;
                margin-bottom: 15px;
            }

            .advantages-list__item h3 {
                font-size: 16px;
                font-weight: 400;
                color: #ff3251;
                margin-top: 0;
                margin-bottom: 20px;
            }

            .advantages-list__item .mark {
                font-size: 24px;
                color: #00c7c0;
            }

            .advantages-list__item .item-desc {
                font-size: 13px;
                color: #626261;
                line-height: 24px;
                margin: 0;
            }

/*Catalog*/
    .article-catalog {
        background-color: #f4f6f8;
    }

    .catalog-list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px 35px;
    }

        .catalog-list__item {
            width: 25%;
            padding: 0 15px;
            margin-bottom: 30px;
        }

            .catalog-list__item .item-inner {
                display: block;
                height: 370px;
                border-radius: 5px;
                overflow: hidden;         
                background-color: #fff;
                box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.1);
                transition: .2s ease;
            }

            .catalog-list__item .item-inner:hover {
                transform: translateY(-10px);
                box-shadow: -2px 10px 15px 0px rgba(0, 0, 0, 0.1);
            }

            .catalog-list__item .item-image {
                background-repeat: no-repeat;
                background-position: center;
                height: 50%;
            }

            .catalog-list__item .item-char {
                text-align: center;
                list-style: none;
                padding: 0 20px;
                margin: 15px 0 0;
            }

                .catalog-list__item .item-char li {
                    font-size: 10px;
                    text-transform: uppercase;
                    margin-top: 10px;
                }

                    .catalog-list__item .item-char li span {
                        color: #ff3251;
                    }

                    .article-catalog .ac .button {
                        margin-bottom: 15px;
                    }

/*Contacts*/
    .article-contacts {
        
    }

        .article-contacts h3 {
            font-size: 25px;
            font-weight: 400;
            color: #ff3251;
            margin: 0 0 25px;
        }

        .contact-block {
            padding: 80px 0;
            width: 30%;
        }

            .contact-item {
                font-size: 14px;
                margin-bottom: 20px;
            }

                .contact-item .contact-name {
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .contact-item .contact-desc {
                    margin: 0;
                    color: #888788;
                }

    #map {
        position: absolute;
        width: 100%;
        top: 0;
        left: 50%;
        margin-left: -180px;
        height: 560px;
    }