@media only screen and (max-width: 1279px) {
	.container {
	    width: 980px;
	    padding: 0 30px;
	}	

}
/*End 1280*/

@media only screen and (max-width: 1023px) {
	.container {
	    width: 768px;
	}

	/*Menu*/
	.main-menu {
		margin: 0 -10px;
	}
	.main-menu li {
		padding: 0 10px;
	}

	.article-main h1 {
		font-size: 32px;
		line-height: 40px;
	}

	.advantages-list__item {
		width: 50%;
	}

	.contact-block {
		width: 50%;
	}

	#map {
		margin-left: 0;
	}

}
/*End 1024*/

@media only screen and (max-width: 767px) {
	.container {
	    width: 480px;
	}

	header {
		position: relative;
	}
	.header__menu-block {
		justify-content: flex-end;
	}

	/*Menu*/
	.main-menu {
		display: none;
	}

	.article-indent {
		padding: 60px 0;
	}
	.article-main {
		height: calc(100vh - 80px);
		background-position: 65% center;
	}
	.article-main h1 {
		font-size: 24px;
		font-weight: 700;
	}

	.head-block h2 {
		font-size: 20px;
		font-weight: 600;
	}
	
	.catalog-list__item {
		width: 50%;
	}

	.article-contacts h3 {
		font-weight: 600;
	}

	.contact-block {
		width: 100%;
		height: 450px;
	}

	footer {
		min-height: 640px;
	}

	#map {
		position: relative;
		height: 190px;
		left: 0;
	}

}
/*End 767*/

@media only screen and (max-width: 479px) {
	.container {
	    width: 320px;
	    padding: 0 15px;
	}

	.head-block {
		margin-bottom: 40px;
	}
	.head-block__options {
		margin-top: 30px;
	}
	.head-block__options .button {
		margin-top: 20px;
	}

	.advantages-list__item {
		width: 100%;
	}
	.advantages-list__item h3 {
		font-weight: 600;
	}
	.advantages-list__item .mark {
		font-weight: 700;
	}

	.catalog-list__item {
		width: 100%;
	}
	.catalog-list__item .item-inner {
		height: 400px;
	}
	
}
/*End 480*/